// main content
@use 'variables';
@use 'mixins';

main {
    width: 100%;
    margin: auto auto;
}

.content {
    padding: 32px;
    .content-headline__figure {
        width: 100%;
        img {
            width: 80%;
            display: block;
            margin: 0 auto;
        }
        figcaption {
            text-align: center;
            color: variables.$fourthColor;
            font-size: 15px;
            font-weight: 400;
            margin-top: 8px;
            padding-bottom: 15px;
        }
    }
    .content-headline__content {
        width: 100%;
        padding: 26px 0;
        padding-top: 50px;
        .content-headline__content___title {
            font-size: 34px;
            font-weight: 500;
        }
        .content-headline__content__description {
            font-size: 20px;
            line-height: 1.2em;
            margin-top: 15px;
        }
        .content-headline__content__button {
            @include mixins.button;
        }
    }
    .container {
        .contaner-main {
            background-color: variables.$secondColor;
            width: 100%;
            .contaner-main__label {
                display: block;
                font-size: 22px;
                padding-top: 30px;
                text-align: center;
                text-transform: uppercase;
            }
            .contaner-main__label::after {
                content: '';
                margin-top: 16px;
                display: block;
                border-bottom: 1px solid variables.$fourthColor;
            }
            .contaner-main__posts {
                display: grid;
                grid-gap: 1.545em;
                margin: 16px auto;
                padding: 20px;
                width: 100%;
            }
        }
    }
}

.post-item {
    overflow: auto;
    background-color: variables.$firstColor;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    position: relative;
    width: 100%;
    .post-item__title {
        background-color: variables.$textColor;
        border-radius: 0 5px 5px 0;
        color: variables.$firstColor;
        font-size: 16px;
        position: absolute;
        padding: 5px;
        top: 20px;    
        text-align: center;
    }
    .post-item__thumbnail {
        height: 250px;
        object-fit: cover;
        width: 100%;
    }
    .post-item__rating {
        color: variables.$textColor;
        background-color: variables.$thirtColor;
        font-size: 16px;
        margin-top: 10px;
        text-align: center;
    }
    .post-item__content {
        height: 260px;
        line-height: 22px;
        margin-bottom: 30px;
        overflow: hidden;
        padding: 30px;
        width: 100%;
        .post-item__content__title {
            display: block;
            font-size: 27px;
            font-weight: 600;
            margin-bottom: 15px;
            text-decoration: none;
            line-height: 44px;
        }
        .post-item__content__description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
            font-size: 15px;
            position: relative;
        }
    }
    .post-item__link__detail {
        @include mixins.button;
        padding-top: 13px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        font-weight: 800;
        width: 100%;
        &:hover {
            background-color: variables.$textColor;
            cursor: pointer;
        }
    }
}