@use 'variables';

.container {
    padding: 1em;
    .title-container {
        margin-bottom: 1.545em;
        text-align: center;
        font-size: 2.5em;
        border-bottom: 0.5px solid black;
    }
}

#list-restaurant {
    display: grid;
    grid-gap: 1.545em;
    background-color: variables.$secondColor;
}