// footer

@use 'variables';

.footer {
    background-color: variables.$thirtColor;
    bottom: 0;
    top: 40px;
    width: 100%;
    padding: 30px;
    .footer-copyright {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
    }
}