// header
@use 'variables';

.header{
    min-height: 56px;
    transition: min-height 0.3s;
    background-color: variables.$firstColor;
    .header-inner {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        .header-inner__title {
            font-weight: 300;
            font-size: 4em;
            margin: 0.5em 0.25em;
            display: inline-block;
            color: variables.$textColor;
        }
    }
    .header-menu {
        text-decoration: none;
        font-size: 45px;
        margin: 10px auto;
        display: block;
        width: 45px;
        color: black;
        border: none;
        background-color: transparent;
    }
    
}