//hero
@use 'variables';

.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("/images/heros/hero-image_3.jpg");
    background-position: center;
    background-color: variables.$firstColor;
    .hero-inner {
        margin: 0 auto;
        max-width: 800px;
        .hero-inner__title {
            color: variables.$firstColor;
            font-size: 36px;
            font-weight: 500;
        }
        .hero-inner__tagline {
            color: variables.$firstColor;
            margin-top: 16px;
            font-size: 18px;
            font-weight: 300;
        }
    }
}