//skip to content
@use 'variables';

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: variables.$fourthColor;
    color: variables.$secondColor;
    padding: 8px;
    z-index: 100;
    &:focus {
        top: 0;
    }
}