<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#deedf0"/>
    <meta name="description" content="Memberikan Informasi Restaurant terbaik sekitar anda pada saat jalan-jalan">
    <title>Barakka Restaurant App</title>
    <link rel="apple-touch-icon" href="/icons/bs_x192.png">
    <link rel="shortcut icon" type="image/x-icon" href="/icons/bs.png">
    <link rel="icon" type="image/x-icon" href="/icons/bs.png">
    <link rel="manifest" href="manifest.json">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" rel="stylesheet">
</head>
<body>
    <a href="#main-content" class="skip-link">Skip to content</a>
    <header-custom></header-custom>
    <nav-custom></nav-custom>
    <hero-custom></hero-custom>
    <main id="main-content"></main>
    <my-footer></my-footer>
    <button class="to-top" aria-label="scroll-to-top-link"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
</body>
</html>
