<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff5eb"/>
    <meta name="description" content="Memberikan Informasi Restaurant terbaik sekitar anda pada saat jalan-jalan">
    <title>Barakka Restaurant App</title>
    <link rel="apple-touch-icon" href="/icons/bs_x192.png">
    <link rel="shortcut icon" type="image/x-icon" href="/icons/bs.png">
    <link rel="icon" type="image/x-icon" href="/icons/bs.png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <a href="#main-content" class="skip-link">Skip to content</a>

    <header class="header">
        <div class="header-inner">
            <h1 class="header-inner__title">
                BARAKKA RESTO APP
            </h1>
        </div>
        <button id="hamburger-button" class="header-menu" href="#" aria-label="hamburge-menu">☰</button>
    </header>

    <nav id="navigation-drawer" class="navigation">
        <div class="logo-navigation">
            <img src="/images/img/bs.png" alt="logo navigasi barakka app" class="logo-navigation__bar">
        </div>
        <ul class="navigation-list">
            <li class="navigation-list__item"><a href="#/home">Home</a></li>
            <li class="navigation-list__item"><a href="#/favorite">Favorite</a></li>
            <li class="navigation-list__item"><a href="https://www.instagram.com/ardi_iyn/" target="_blank" rel="noopener noreferrer">About Us</a></li>
        </ul>
    </nav>

    <div class="hero">
        <div class="hero-inner">
            <h1 class="hero-inner__title">Resto Terbaik, Termurah dan Terpercaya </h1>
            <p class="hero-inner__tagline">Anda sedang jalan-jalan? traveling? perut lapar? pusing mau makan di mana? Barakka Restaurant App Solusinya.</p>
        </div>
    </div>

    <main id="main-content">
        
    </main>

    <footer class="footer">
        <div class="footer-copyright">
            <p>Created by Muhammad Ardiyansyah, S.Pd <br> Copyright © 2021 - Barakka Resto Apps</p>
        </div>
    </footer>

    <a href="#" class="to-top" aria-label="scroll-to-top-link"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
</body>
</html>
