<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff5eb"/>
    <meta name="description" content="Memberikan Informasi Restaurant terbaik sekitar anda pada saat jalan-jalan">
    <title>Barakka Restaurant App</title>
    <link rel="stylesheet" href="/src/styles/main.css">
    <link rel="apple-touch-icon" href="/icons/bs_x192.png">
    <link rel="shortcut icon" type="image/x-icon" href="/icons/bs.png">
    <link rel="icon" type="image/x-icon" href="/icons/bs.png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <a href="#mainContent" class="skip-link">Skip to content</a>

    <header class="header">
        <div class="headerInner">
            <h1 class="headerTitle">
                BARAKKA RESTO APP
            </h1>
        </div>
        <button id="hamburgerButton" class="headerMenu" href="#" aria-label="hamburge-menu">☰</button>
    </header>

    <nav id="navigationDrawer" class="navigation">
        <div class="logoNav">
            <img src="/images/img/bs.png" alt="logo nav barakka app" class="logoBar">
        </div>
        <ul class="navList">
            <li class="navItem"><a href="#/home">Home</a></li>
            <li class="navItem"><a href="#/favorite">Favorite</a></li>
            <li class="navItem"><a href="https://www.instagram.com/ardi_iyn/" target="_blank" rel="noopener noreferrer">About Us</a></li>
        </ul>
    </nav>

    <div class="hero">
        <div class="heroInner">
            <h1 class="heroTitle">Resto Terbaik, Termurah dan Terpercaya </h1>
            <p class="heroTagline">Anda sedang jalan-jalan? traveling? perut lapar? pusing mau makan di mana? Barakka Restaurant App Solusinya.</p>
        </div>
    </div>

    <main id="mainContent">
        
    </main>

    <footer class="footer">
        <div class="footerCopyright">
            <p>Created by Muhammad Ardiyansyah, S.Pd <br> Copyright © 2021 - Barakka Resto Apps</p>
        </div>
    </footer>

    <a href="#" class="toTop" aria-label="scroll-to-top-link"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
</body>
</html>
