.content .container .contaner-main .contaner-main__posts {
    display: grid;
    grid-row-gap: 16px;
}

.detail .grid-2 {
    display: grid;
    grid-gap: 1em;
}

.detail .grid-3 {
    display: grid;
    grid-gap: 1em;
}

@media screen and (min-width: 455px) {
    .content .content-headline .content-headline__content {
        padding: 16px 16px;
    }

    .content .content-headline .content-headline__content .content-headline__content___title {
        font-size: 28px;
    }

    .content .content-headline .content-headline__content .content-headline__content__description {
        font-size: 16px;
    }
}

@media screen and (max-width: 499px) {
    .navigation {
        z-index: 10;
        background-color: #fff5eb;
        width: 300px;
        position: absolute;

        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .navigation .navigation-list .navigation-list__item {
        display: list-item;
        border-bottom: 1px solid #393c43;
        width: 100%;
        text-align: left;
    }
}

@media screen and (min-width: 500px) {
    .header .header-menu {
        display: none;
    }
}

@media screen and (min-width: 650px) {
    .content .content-headline .content-headline__content {
        margin: 0 auto;
        max-width: 650px;
    }

    .contaner-main__posts .post-item {
        padding: 16px 32px 32px 32px;
    }

    .contaner-main__posts .post-item .post-item__title {
        font-size: 18px;
    }

    .contaner-main__posts .post-item .post-item__content
     {
        font-size: 14px;
    }

    #list-restaurant {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.545em;
    }
}

@media screen and (min-width: 700px) {
    .content .container .contaner-main .contaner-main__posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }

    .detail {
        grid-template-columns: 1.1fr 1fr;
        justify-content: center;
    }

    .detail h3 {
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 0 auto;
    }

    .detail-menu {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .detail-review {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
    }

    .detail-title__review {
        grid-row-start: 4;
    }

    .grid-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.245em;
    }

    .grid-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.245em;
    }
}


@media screen and (min-width: 900px) {
    .content .content-headline {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .content .container .contaner-main .contaner-main__posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }

}

@media screen and (min-width: 1400px) {
    #list-restaurant {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
